{{template "base" .}}
{{define "title"}}About{{end}}

{{define "main"}}
<div>
    Hello, my name is Christian Francia I created the website, but, as this page grows and help is given, wether assisting to writing the code or assisting with the server costs
    there will be a section below.
</div>
<br />
<div>
    This website is aimed to create an easy way for chess players, of all levels, to find tournaments to play in. As a chess player myself I found it difficult to find the information that I wanted.
    For example, I am apart of my chess club's WhatsApp group and they send all the information through there. Which means that it's easy for the information to get lost.
    While there are other websites for Catalonia and all of Spain I feel that they only provide large tournaments. 
    I would like someone to come to this website and see that there is an online tournament that they can play, or there is a tournament that is being held this SAturday night
    and the winner receives a bottle of cava.
</div>
<br />
<div>
    If you have any questions or concerns please feel free to reach me<a href='mailto:ctfrancia@gmail.com'> here</a>.<br />
    Twitter at <a href='twitter.com/BarnaChristian'>@BarnaChristian</a><br />
    See the code on <a href='github.com/ctfrancia/bcnchess'>Github</a><br />

    If you would like to contribute to paying server costs then when this happens there will be "Sponsor" section with your name and/or club name.
</div>
{{end}}