{{template "base" .}}

{{define "title"}}Create a New Tournament{{end}}

{{define "main"}}
<form action='/tournament/create' enctype='multipart/form-data' method='POST'>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
        <div>
            <label>Title:</label>
            {{with .Errors.Get "title"}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='text' name='title' value='{{.Get "title"}}'>
        </div>
        <div>
            <label>Address of Tournament/ Website where tournament is held</label>
            {{with .Errors.Get "location"}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='text' name='location' value='{{.Get "location"}}'>
        </div>
        <div>
            <label>Date of tournament:</label>
            <input type='date' name='tournamentDate'>
            <label>Starts time:</label>
            <input type='tel' name='matchTimeStart' value='{{.Get "matchTimeStart"}}'>
        </div>
        <div>
            <label>Time Control(3+2/5+0/etc):</label>
            <input type='text' name='timeControl' value='{{.Get "timeControl"}}'>
            <label>Type(Round Robin/Swiss/etc):</label>
            <input type='text' name='tournamentType' value='{{.Get "tournamentType"}}'>
        </div>
        <div>
            <label>Tournament Contact Email:</label>
            {{with .Errors.Get "tournamentContact"}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='email' name='tournamentContact' placeholder='questions should be emailed to this email address' value='{{.Get "tournamentContact"}}'>
        </div>
        <div class='metadata'>
            Is rated: <input type='checkbox' name='isRated'><br />
            Is online: <input type='checkbox' name='isOnline'><br />
            tournament Poster: <input type='file' name='poster'>
        </div>
        <div>
            <label>Additional information:</label>
            {{with .Errors.Get "additionalInformation"}}
                <label class='error'>{{.}}</label>
            {{end}}
            <textarea name='additionalInformation'>{{.Get "additionalInformation"}}</textarea>
        </div>
    </div>
        <div>
            <input type='submit' value='Publish tournament'>
        </div>
    {{end}}
</form>
{{end}}
