{{template "base" .}}

{{define "title"}}Home{{end}}
{{define "main"}}
<h2>Latest tournaments</h2>
    {{if .Tournaments}}
        <table>
            <tr>
                <th>Title</th>
                <td>Tournament Date</td>
                <th>Created</th>
                <th>ID</th>
            </tr>
            {{range .Tournaments}}
            <tr>
                <td><a href='/tournament/{{.ID}}'>{{.Title}}</a></td>
                <td>{{humanDate .TournamentDate}} at {{.MatchTimeStart}}</td>
                <td>{{humanDate .Created}}</td>
                <td>{{.ID}}</td>
            </tr>
            {{end}}
        </table>
        {{else}}
        <p> There's nothing to show yet ... </p>
    {{end}}
{{end}}
