
{{template "base" .}}
{{define "title"}} Change Password {{end}}

{{define "main"}}
<div>
    <form action='/user/change-password' method='POST'>
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        {{with .Form}}
            <label>Current Password</label>
            {{with .Errors.Get "oldPassword"}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='password' name='oldPassword'>

            <label>New Password</label>
            {{with .Errors.Get "password1"}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='password' name='password1'>

            <label>Confirm Password</label>
            {{with .Errors.Get "password2"}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='password' name='password2'>
        {{end}}

        <input type='submit' value='Submit'>
    </form>
</div>
{{end}}