{{template "base" .}}

{{define "title"}}Tournament #{{.Tournament.ID}}{{end}}

{{define "main"}}
<div class='snippet'>
    {{with .Tournament}}
    <div class='metadata'>
        <time><strong>{{.Title}}</strong></time>
        <time><strong> Share tournament: https://localhost:4000/tournament/{{.ID}}</strong></time>
    </div>
    <div class='metadata'>
        <strong>Location</strong>: {{.Location}}<br/>
        <strong>Host Contact</strong>: {{.TournamentContact}}
    </div>
    <img src='{{.Poster}}'>
    <pre><code>{{.AdditionalInformation}}</code></pre>
    <div class='metadata'>
        <div class='metadata'>
            <time><strong>Date</strong>: {{humanDate .TournamentDate}}</time>
            <time><strong>Starts</strong>: {{.MatchTimeStart}}</time>
        </div>
        <div class='metadata'>
            <time><strong>Rated</strong>: {{.Rated}}</time>
            <time><strong>Online</strong>: {{.IsOnline}}</time>
        </div>
        <div class='metadata'>
            <time><strong>Tournament Type</strong>: {{.TournamentType}}</time>
            <time><strong>Time Control</strong>: {{.TimeControl}}</time>
        </div>
        <div class='metadata'>
            <time><strong>Created</strong>: {{humanDate .Created}}</time>
            <time><strong>Expires</strong>: {{humanDate .Expires}}</time>
        </div>
    </div>
    {{end}}
</div>
{{end}}
