{{template "base" .}}

{{define "title"}}Tournament #{{.Tournament.ID}}{{end}}

{{define "main"}}
<div class='snippet'>
    {{with .Tournament}}
    <div class='metadata'>
        <strong>{{.Title}}</strong>
        <strong> share tournament: https://localhost:4000/tournament/{{.ID}}</strong>
    </div>
    <pre><code>{{.AdditionalInformation}}</code></pre>
    <div class='metadata'>
        <div class='metadata'>
            <time>Date: {{humanDate .TournamentDate}}</time>
            <time>Starts: {{.MatchTimeStart}}</time>
        </div>
        <div class='metadata'>
            <time>Rated: {{.Rated}}</time>
            <time>Online: {{.IsOnline}}</time>
        </div>
        <div class='metadata'>
            <time>Tournament Type: {{.TournamentType}}</time>
            <time>Time Control: {{.TimeControl}}</time>
        </div>
        <div class='metadata'>
            <time>Created: {{humanDate .Created}}</time>
            <time>Expires: {{humanDate .Expires}}</time>
            <input type='email' value='{{.TournamentContact}}' readonly>
        </div>
    </div>
    {{end}}
</div>
{{end}}
